.nav-container {
  width: 100%;
  height: 80px;
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
.website-logo {
  width: 100px;
}
.nave-menu {
  display: flex;
  gap: 10px;
}
.logout-btn {
  color: white;
  background-color: blue;
  padding: 5px 30px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
}
.link-item {
  text-decoration: none;
  list-style-type: none;
  color: black;
}
