.bg-container {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container {
  padding: 20px;

  width: 300px;
  border: 3px solid #ddd;
  display: flex;
  flex-direction: column;
}
label {
  color: white;
  font-size: 10px;
}
.err-msg {
  color: red;
  font-size: 10px;
}
.login-btn {
  margin-top: 0.2cm;
  align-self: center;
}
.form-website-logo {
  width: 120px;
  align-self: center;
  margin: 0.2cm;
}
